In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.neural_network import MLPRegressor
import xgboost as xg
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
from sklearn.preprocessing import StandardScaler
np.random.seed(0)

In [9]:
df_train = pd.read_csv("APR_20_OBTAINED_TESTING_DATA_SET_.csv")
df_test = pd.read_csv("APR_20_OBTAINED_TESTING_DATA_SET_.csv")

In [10]:
#Looking at the Train data set for better understanding 
df_train.head(5)
df_train=pd.get_dummies(df_train,prefix_sep="_")

In [11]:
df_train.shape

(330, 104)

In [12]:
#Looking at the Test data set for better understanding 
df_test.head(5)

,Policy_Company__Standard __%,Policy_Company__Preferred__%,Policy_Installment_Term__6__%,Policy_Installment_Term__12__%,Policy_Billing_Code__Direct Billed to Insured__%,Policy_Billing_Code__Premium Finance__%,Policy_Method_Of_Payment__Installment__%,Policy_Method_Of_Payment__Pre-paid__%,Vehicle_Territory__36__%,Vehicle_Territory__31__%,...,Driver_Total_Female__3__%,Driver_Total_Adult_Ages_50_64__3__%,Driver_Total_Male__3__%,Driver_Total_Middle_Adult_Ages_40_49__3__%,Driver_Total_Low_Middle_Adult_Ages_30_39__3__%,Vehicle_Driver_Points__6__%,Driver_Total_Single__3__%,Vehicle_Driver_Points__7__%,Driver_Total_Married__4__%,Driver_Total_Adult_Ages_50_64__4__%
0,93.200000,6.800000,96.200000,3.800000,98.000000,2.000000,52.20000,47.80000,0.800000,42.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94.488978,5.511022,95.891784,4.108216,98.196393,1.803607,50.00000,50.00000,0.501002,40.981964,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93.700000,6.300000,96.100000,3.900000,97.700000,2.300000,52.40000,47.60000,0.900000,40.900000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,94.600000,5.400000,96.300000,3.700000,97.800000,2.200000,49.00000,51.00000,0.900000,43.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,94.194194,5.805806,95.595596,4.404404,97.797798,2.202202,49.94995,50.05005,1.101101,44.644645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_test.shape

(330, 104)

In [14]:
df_train.shape

(330, 104)

In [15]:
df_train.shape

(330, 104)

In [17]:
#creating the testing input and testing checking output and also the testing data input 
train_inputs = df_train.drop(['ln_LR'],axis=1).values
train_output = df_train['ln_LR'].values
test_inputs = df_test.values

KeyError: "['ln_LR'] not found in axis"

In [30]:
normalizer = StandardScaler()
normalizer.fit(train_inputs)
train_inputs_normalized= normalizer.transform(train_inputs)

print("Normalized Training data's average along each of their columns")
print()
print(train_inputs_normalized.mean(axis=0))
print()
print("Normalized Training data's standard deviation along each of their columns")
print()
print(train_inputs_normalized.std(axis=0))
print()

normalizer.fit(test_inputs)
test_inputs_normalized= normalizer.transform(test_inputs)
print("Normalized Testing data's average along each of their columns")
print()
print(test_inputs_normalized.mean(axis=0))
print()
print("Normalized Testing data's standard deviation along each of their columns")
print()
print(test_inputs_normalized.std(axis=0))

Normalized Training data's average along each of their columns

[-1.34859576e-14 -2.16571990e-15  6.87127123e-14 -3.30151170e-16
 -7.05159836e-16 -6.45947942e-17 -8.79206921e-16  1.52515486e-16
 -2.95700613e-15 -5.62692429e-15 -8.46730093e-15 -6.13471115e-15
 -4.30631961e-16  2.60891196e-15  2.72778433e-15  1.08447482e-14
 -4.88049556e-15  2.11727381e-15  3.78597266e-15  3.15796771e-15
 -1.83377443e-15  1.00480791e-15 -1.23743888e-14 -4.79078057e-15
 -6.67120680e-15 -7.47505312e-15  7.17719935e-16  2.97494913e-15
  1.90195783e-16  1.90913503e-15  3.74560091e-14 -4.30631961e-17
  2.19981160e-15 -9.39854255e-15  6.83628238e-15  8.19456736e-15
  2.26844357e-15]

Normalized Training data's standard deviation along each of their columns

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

Normalized Testing data's average along each of their columns

[ 1.13633009e-14  3.09516722e-15  1.94179487e-12 -1.57180666e-15
 -9.15092917e-17 -9.86416336e-16 -8.34349425e-17 -1.34572488e-16
 -1.13579180e-15 -2.59052039e-15  8.78354628e-15  3.20013376e-15
  3.27280290e-15  9.52773214e-16 -1.00444905e-14  6.94663182e-15
 -7.61680281e-15 -5.14066904e-16 -4.08023783e-15  2.39269883e-15
 -3.61730847e-15  7.93977678e-16 -1.93353751e-14 -9.90453510e-16
  4.04794043e-15  3.97257984e-15  3.12208172e-16 -4.71003707e-16
 -1.45338287e-16  1.48837172e-15  7.80197455e-14  7.53605932e-17
  2.27696649e-15  1.43346614e-14  3.71420066e-16 -4.91458726e-15
  2.70221556e-15]

Normalized Testing data's standard deviation along each of their columns

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

# Models

In [31]:
train_ip_split, test_ip_split, train_op, test_op = train_test_split(train_inputs_normalized, train_output, test_size=0.30, shuffle= False)

Model 1: Linear Regression Model

In [32]:
Model_1 = LinearRegression(fit_intercept=True)
Model_1.fit(train_ip_split, train_op)

print("Model_1 : Linear Regression ")
Model_1_train_results = Model_1.predict(train_ip_split)
Model_1_train_MSE = mean_squared_error(train_op, Model_1_train_results)
print('Model_1-> Training MSE',Model_1_train_MSE)

Model_1_test_results = Model_1.predict(test_ip_split)
Model_1_test_MSE = mean_squared_error(test_op, Model_1_test_results)
print('Model_1-> Testing MSE',Model_1_test_MSE)
print('Model_1-> Accuracy score',Model_1.score(test_ip_split,test_op))
print()

Model_1 : Linear Regression
Model_1-> Training MSE 0.41260523172354524
Model_1-> Testing MSE 0.3586234658743988
Model_1-> Accuracy score 0.47988164144829115

Model 2: Lasso Regression

In [33]:
Model_2 = LassoCV(cv=10,alphas=np.linspace(0.001,0.1,100),max_iter=10000)
Model_2.fit(train_ip_split, train_op)

print("Model_2 : Lasso Regression with 10 fold cross validation")
Model_2_train_results = Model_2.predict(train_ip_split)
Model_2_train_MSE = mean_squared_error(train_op, Model_2_train_results)
print('Model_2-> Training MSE',Model_2_train_MSE)

Model_2_test_results = Model_2.predict(test_ip_split)
Model_2_test_MSE = mean_squared_error(test_op, Model_2_test_results)
print('Model_2-> Testing MSE',Model_2_test_MSE)
print('Model_2-> Accuracy score',Model_2.score(test_ip_split,test_op))
print()

Model_2 : Lasso Regression with 10 fold cross validation
Model_2-> Training MSE 0.42192495212185943
Model_2-> Testing MSE 0.3532319821535073
Model_2-> Accuracy score 0.48770101170681857

Model 3: Ridge_CV Regression

In [34]:
Model_3 = RidgeCV(cv=10,alphas=np.linspace(0.001,0.1,100))
Model_3.fit(train_ip_split, train_op)

print("Model_3 : Ridge CV with 10 fold cross validation")
Model_3_train_results = Model_3.predict(train_ip_split)
Model_3_train_MSE = mean_squared_error(train_op, Model_3_train_results)
print('Model_3-> Training MSE',Model_3_train_MSE)

Model_3_test_results = Model_3.predict(test_ip_split)
Model_3_test_MSE = mean_squared_error(test_op, Model_3_test_results)
print('Model_3-> Testing MSE',Model_3_test_MSE)
print('Model_3-> Accuracy score',Model_3.score(test_ip_split,test_op))
print()

Model_3 : Ridge CV with 10 fold cross validation
Model_3-> Training MSE 0.41261782311682804
Model_3-> Testing MSE 0.3584378429996655
Model_3-> Accuracy score 0.4801508537952315

Model 4: Decision Treess

In [81]:
Model_4 = DecisionTreeRegressor(ccp_alpha=0.02,max_depth=10000)
Model_4.fit(train_ip_split, train_op)

print("Model_4 : Decision Tree Regression")
Model_4_train_results = Model_4.predict(train_ip_split)
Model_4_train_MSE = mean_squared_error(train_op, Model_4_train_results)
print('Model_4-> Training MSE',Model_4_train_MSE)

Model_4_test_results = Model_4.predict(test_ip_split)
Model_4_test_MSE = mean_squared_error(test_op, Model_4_test_results)
print('Model_4-> Testing MSE',Model_4_test_MSE)
print('Model_4-> Accuracy score',Model_4.score(test_ip_split,test_op))
print()

Model_4 : Decision Tree Regression
Model_4-> Training MSE 0.4599866762702838
Model_4-> Testing MSE 0.3531823735587426
Model_4-> Accuracy score 0.48777295998498327

Model 5: Gradient Boosting

In [82]:
Model_5 = GradientBoostingRegressor(learning_rate=0.05)
Model_5.fit(train_ip_split, train_op)

print("Model_5 : GradientBoostingRegressor")
Model_5_train_results = Model_5.predict(train_ip_split)
Model_5_train_MSE = mean_squared_error(train_op, Model_5_train_results)
print('Model_5-> Training MSE',Model_5_train_MSE)

Model_5_test_results = Model_5.predict(test_ip_split)
Model_5_test_MSE = mean_squared_error(test_op, Model_5_test_results)
print('Model_5-> Testing MSE',Model_5_test_MSE)
print('Model_5-> Accuracy score',Model_5.score(test_ip_split,test_op))
print()

Model_5 : GradientBoostingRegressor
Model_5-> Training MSE 0.2135018897981314
Model_5-> Testing MSE 0.3356853436650595
Model_5-> Accuracy score 0.5131492315729108

Model 6: KNN [K nearest Neighbors]

In [83]:
Model_6 = KNeighborsRegressor(n_neighbors=17)
Model_6.fit(train_ip_split, train_op)

print("Model_6 : KNN")
Model_6_train_results = Model_6.predict(train_ip_split)
Model_6_train_MSE = mean_squared_error(train_op, Model_6_train_results)
print('Model_6-> Training MSE',Model_6_train_MSE)

Model_6_test_results = Model_6.predict(test_ip_split)
Model_6_test_MSE = mean_squared_error(test_op, Model_6_test_results)
print('Model_6-> Testing MSE',Model_6_test_MSE)
print('Model_6-> Accuracy score',Model_6.score(test_ip_split,test_op))
print()

Model_6 : KNN
Model_6-> Training MSE 0.4405760327209305
Model_6-> Testing MSE 0.35014444063166944
Model_6-> Accuracy score 0.4921789312550642

Model 7: Random Forest

In [84]:
Model_7 = RandomForestRegressor(n_estimators=100)
Model_7.fit(train_ip_split, train_op)

print("Model_7 : RandomForest")
Model_7_train_results = Model_7.predict(train_ip_split)
Model_7_train_MSE = mean_squared_error(train_op, Model_7_train_results)
print('Model_7-> Training MSE',Model_7_train_MSE)

Model_7_test_results = Model_7.predict(test_ip_split)
Model_7_test_MSE = mean_squared_error(test_op, Model_7_test_results)
print('Model_7-> Testing MSE',Model_7_test_MSE)
print('Model_7-> Accuracy score',Model_7.score(test_ip_split,test_op))
print()

Model_7 : RandomForest
Model_7-> Training MSE 0.06459525745144988
Model_7-> Testing MSE 0.3279297951940239
Model_7-> Accuracy score 0.5243972494085201

Model 8: Support Vector Regression

In [85]:
Model_8 = SVR(degree=3)
Model_8.fit(train_ip_split, train_op)

print("Model_8 : Support Vector ")
Model_8_train_results = Model_8.predict(train_ip_split)
Model_8_train_MSE = mean_squared_error(train_op, Model_8_train_results)
print('Model_8-> Training MSE',Model_8_train_MSE)

Model_8_test_results = Model_8.predict(test_ip_split)
Model_8_test_MSE = mean_squared_error(test_op, Model_8_test_results)
print('Model_8-> Testing MSE',Model_8_test_MSE)
print('Model_8-> Accuracy score',Model_8.score(test_ip_split,test_op))
print()

Model_8 : Support Vector
Model_8-> Training MSE 0.1774837612639187
Model_8-> Testing MSE 0.3513457053185243
Model_8-> Accuracy score 0.49043671448296966

Model 9: XG Boost

In [86]:
Model_9= xg.XGBRegressor(objective ='reg:squarederror', n_estimators = 100)
Model_9.fit(train_ip_split, train_op)

print("Model_9 : XG BOOST")
Model_9_train_results = Model_9.predict(train_ip_split)
Model_9_train_MSE = mean_squared_error(train_op, Model_9_train_results)
print('Model_9-> Training MSE',Model_9_train_MSE)

Model_9_test_results = Model_9.predict(test_ip_split)
Model_9_test_MSE = mean_squared_error(test_op, Model_9_test_results)
print('Model_9-> Testing MSE',Model_9_test_MSE)
print('Model_9-> Accuracy score',Model_9.score(test_ip_split,test_op))
print()

Model_9 : XG BOOST
Model_9-> Training MSE 4.315924057511383e-07
Model_9-> Testing MSE 0.42275692826264355
Model_9-> Accuracy score 0.38686767454492543

Model 10: Neural Networks

In [87]:
Model_10 = MLPRegressor(hidden_layer_sizes=(1000,), alpha=0.05,  max_iter=200)
Model_10.fit(train_ip_split, train_op)

print("Model_10 : Neural Networks perceptron regression")
Model_10_train_results = Model_10.predict(train_ip_split)
Model_10_train_MSE = mean_squared_error(train_op, Model_10_train_results)
print('Model_10-> Training MSE',Model_10_train_MSE)

Model_10_test_results = Model_10.predict(test_ip_split)
Model_10_test_MSE = mean_squared_error(test_op, Model_10_test_results)
print('Model_10-> Testing MSE',Model_10_test_MSE)
print('Model_10-> Accuracy score',Model_10.score(test_ip_split,test_op))
print()

Model_10 : Neural Networks perceptron regression
Model_10-> Training MSE 0.003230697396176185
Model_10-> Testing MSE 0.4328533492107857
Model_10-> Accuracy score 0.3722246453220859

After Fiding the MSE's of all these on the testing data, it is found that this algorithm Random Forest is best in comparision to others. So, let's use this to predict the Values of the testing data

Prediction on Test Data

In [88]:
Final_best_predicted_ln_ratio = Model_7.predict(test_inputs_normalized)

Portfolio and it's logarithmetic Loss ratio in data frame format

In [89]:
df_test['ln_LR']= Final_best_predicted_ln_ratio
print(df_test[['ln_LR']])

                  ln_LR
ID
portfolio_1   -0.579970
portfolio_10   0.048844
portfolio_11  -0.726344
portfolio_111 -0.153381
portfolio_112 -0.116093
...                 ...
portfolio_69   0.214217
portfolio_7   -0.745416
portfolio_70  -0.258760
portfolio_8   -0.231833
portfolio_9   -0.598728

[330 rows x 1 columns]

In [90]:
xyzc=pd.read_csv('Final_Testing_data_set.csv')
print(xyzc.index)

RangeIndex(start=0, stop=330, step=1)

In [91]:
output = pd.DataFrame({'Id': xyzc.ID,
                       'ln_LR': Final_best_predicted_ln_ratio})

In [92]:
output.shape

(330, 2)

In [93]:
output

                Id     ln_LR
0      portfolio_1 -0.579970
1     portfolio_10  0.048844
2     portfolio_11 -0.726344
3    portfolio_111 -0.153381
4    portfolio_112 -0.116093
..             ...       ...
325   portfolio_69  0.214217
326    portfolio_7 -0.745416
327   portfolio_70 -0.258760
328    portfolio_8 -0.231833
329    portfolio_9 -0.598728

[330 rows x 2 columns]

In [94]:
output.to_csv("Final_output.csv",index=False)

In [95]:
df_final=pd.read_csv('Final_output.csv')
df_final.head

<bound method NDFrame.head of                 Id     ln_LR
0      portfolio_1 -0.579970
1     portfolio_10  0.048844
2     portfolio_11 -0.726344
3    portfolio_111 -0.153381
4    portfolio_112 -0.116093
..             ...       ...
325   portfolio_69  0.214217
326    portfolio_7 -0.745416
327   portfolio_70 -0.258760
328    portfolio_8 -0.231833
329    portfolio_9 -0.598728

[330 rows x 2 columns]>

In [96]:
df_final

                Id     ln_LR
0      portfolio_1 -0.579970
1     portfolio_10  0.048844
2     portfolio_11 -0.726344
3    portfolio_111 -0.153381
4    portfolio_112 -0.116093
..             ...       ...
325   portfolio_69  0.214217
326    portfolio_7 -0.745416
327   portfolio_70 -0.258760
328    portfolio_8 -0.231833
329    portfolio_9 -0.598728

[330 rows x 2 columns]

In [97]:
z="test_portfolio_200.csv"
k,_=z.split(".")
print(k[5:])

portfolio_200

In [1]:
#..... Testing.......

In [3]:
df_apr_20=pd.read_csv('04/20/2022_Testing_predictions.csv')

NameError: name 'pd' is not defined